# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/src/main/java/com/endpoints/PrivateConstants.java
.idea/artifacts/
.idea/compiler.xml
.idea/dictionaries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
hearthstonecardbacks-215221.iml
hs-cardbacks-server.iml
target/
